@import "./styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


    :root {
      --background: #000000;
      --foreground: #ededed;
      --green: #C2EE03;
      --formBg: #171717;
    }
  body {
    color: var(--green);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }

  .auth-bg {
    background-image: url('/auth-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }